#container {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

#map {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 70px;
  right: 0px;
  margin-bottom: 10px;
}

#key {
  position: absolute;
  bottom: 0px;
  left: 10px;
  height: 70px;
  font-family: Arial;
}
